{{!-- {{#each comments as |comment|}} --}}
<div class="card mb-4">
    <div class="card-body">
        <p>{{comment.text}}</p>
        <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <p class="small mb-0 ms-2">By: {{user.username}}</p>
        </div>
            <div class="d-flex flex-row align-items-center">
                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                <p class="small text-muted mb-0">{{format_date comment.comment_date}}</p>
        </div>
        </div>
    </div>
</div>
        {{!-- {{/each}} --}}






<script src="/js/liveAlert.js"></script>