<div class="card text-center">
  <div class="card-body">
    <a href="/edit/{{id}}">
    <h5 class="card-title">{{post_title}}</h5>
    </a>
    <p class="card-text">{{post_contents}}</p>
  </div>
</div>

