{{!-- {{#each posts as |post|}} --}}
<a href="/post/{{id}}">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title card-header p-3 bg-primary bg-opacity-10 border border-primary border-start-2 rounded">{{post_title}}</h5>
      </a>
      <p class="card-text border-success text-dark-emphasis">{{post_contents}}</p>
    </div>
        <h6 class="card-title card-header p-3 bg-primary bg-opacity-10 border border-primary border-start-2 rounded">Author:  {{user.username}}</h5>
  </div>
  {{!-- {{/each}} --}}
